/* Default = Light theme */
:root {
  --bg: #ffffff;
  --fg: #0f172a;

  --card-bg: #ffffff;
  --muted-bg: #f8fafc;

  --primary: #6366f1;
  /* Indigo */
  --primary-hover: #4f46e5;

  --border: #e2e8f0;
  --muted-text: #64748b;

  --danger: #ef4444;
  --success: #22c55e;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);

  --transition: all 0.2s ease;
}

/* Dark theme */
html[data-theme="dark"] {
  --bg: #020617;
  --fg: #e5e7eb;

  --card-bg: #020617;
  --muted-bg: #020617;

  --primary: #818cf8;
  --primary-hover: #6366f1;

  --border: #1e293b;
  --muted-text: #94a3b8;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);
  --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.5);
}